* { box-sizing: border-box; }

body.dtm__in { background: none; margin: 0; padding: 0; }

h1 { font: 50px/50px 'Gotham Black'; margin: 10px auto; }

h2 { font: 39px/39px 'DIN Condensed Bold'; margin: 0 auto; padding: 20px 0; border-bottom: 3px solid white; width: auto; display: inline-block; text-transform: uppercase; }

h3 { font: 60px/55px 'DIN Condensed Bold'; }

h4 { font: 49px/55px 'DIN Condensed Bold'; }

p { font: 25px/35px 'Gotham Book'; }

.inner { position: relative; margin: 0 auto; max-width: 1000px; }

.pink-bkg { background-color: #fff; background-image: -webkit-gradient(linear, left top, left bottom, from(#fde4e8), to(#fff)); background-image: -webkit-linear-gradient(top, #fde4e8, #fff); background-image: -moz-linear-gradient(top, #fde4e8, #fff); background-image: -o-linear-gradient(top, #fde4e8, #fff); background-image: linear-gradient(to bottom, #fde4e8, #fff); }

.black-background * { color: white; }

.purple-bkg { background: #6440b0; }

@media (max-width: 700px) { h1 { font-size: 8vw; line-height: 9vw; margin: 10px auto; }
  h2 { font-size: 6vw; line-height: 6vw; }
  h3 { font-size: 10vw; line-height: 10vw; }
  h4 { font-size: 9vw; line-height: 9vw; }
  p { font-size: 20px; line-height: 26px; } }
